body{
    background-color:#151515;
}

#qtd_jogos_lotofacil, 
#qtd-megasena, 
#qtd-quina, 
#qtd-lotomania{
    margin-top: 15px;
}

#qtd_n_lotofacil,
#qtd_n_megasena,
#qtd_n_quina{
    margin-top: 5px;
    margin-bottom: 15px;  
}

.resultado{
    background-color:#2E2E2E;
    color:#fff;
    border-color:#424242;
}

h1{
    margin-top:20px;
    margin-bottom: 30px;
    color:#fff;			
}

label{
    color:#fff;
}